<div class =" upload-container">
  <%= form_for(@upload,  url: uploads_path(@upload), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.label :front_image, class: "sr-only"  %><br />
      <%= f.file_field :front_image, autofocus: true, class: "form-control", placeholder: "Upload Garment front image"  %>
    </div>

    <div class="field">
      <%= f.label :front_image, class: "sr-only"  %><br />
      <%= f.file_field :front_image, autofocus: true, class: "form-control", placeholder: "Upload Garment back image"  %>
    </div>


    <div class="field">
      <%= f.label :front_image, class: "sr-only"  %><br />
      <%= f.file_field :front_image, autofocus: true, class: "form-control", placeholder: "Upload Garment arm image"  %>
    </div>

    <div class="actions">
      <%= f.submit "Upload", class: "btn btn-danger"  %>
    </div>
  <% end %>
</div>
